<h1>Create New Article</h1>

<%# remember you can see the messages with article.errors.full_messages
    after trying to save an article object that doesn't pass validation %>
    

<%# I moved this code into 'form' partial, but:

    note that form_with generally submits remotely with ajax,
    so I am modifying form_with to submit with HTTP POST request instead.
    Here, the scope is given a symbol (:symbol) and the url, and then
    local: true for HTTP (form_with only, if using form_for the default
    behavior is HTTP POST). Check via inspect in browser (form method=?) %>
    
<%= render 'form' %>
<p><%= link_to 'Return to articles listing', articles_path  %></p>