<div class="container overflow-hidden mt-5">

<div class="vh-35 p-5 bg-dark text-white rounded-3">
  <h2>Test Application</h2>
  <p>This is a test application utilizing Ruby 3.0, Rails 6, and Bootstrap 5.1</p>
  <a class="btn btn-outline-light" href="/about" role="button">Learn More</a>
</div>

</div>

